@tailwind base;

@layer base{
    html{
        --vh: 0px !important;
        overflow-y: scroll;
        overflow-y: overlay;
    }

    body{
        @apply transition-colors duration-200;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
        background-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 3px;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #000;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@tailwind components;
@tailwind utilities;

